- let nombreSitio= 'Pedro Kalbertmatter';
- let metaDescription= 'Institución Educativa Adventista Pedro Kalbertmatter con niveles de Inicial , Primaria y Secundaria comprometidos con tu educación actual y futura - AVENIDA CIRCUNVALACION 539, San Roman, Juliaca. 051 Juliaca (051) 324754';

// -CSS
- let css = ['style.css'];
- let paginas=['Bienvenidos','Nosotros','Actividades','Academico','Contacto'];
- let pagina_actual ="";

// -DATOS

- let email = 'pantigosomiguel59@gmail.com';
- let programador= 'Miguel Pantigoso';
- let descrip= '© Todos los derechos reservados';
- let año_lugar=' 2018 - Juliaca';