footer.footer
    .container-footer-all
            .container-body
                .colum1
                    h2 Educación Adventista
                    p Lorem ipsum dolor sit amet consectetur adip Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure alias sint non commodi explicabo, molestias cumque dignissimos nisi magni error.
                    
                .colum2
                    h2 Redes Sociales
                    .row
                        img(src="img/facebook.png", alt="Facebook") 
                        label Siguenos en Facebook
                    .row
                        img(src="img/twitter.png", alt="Twitter") 
                        label Siguenos en Twitter
                    .row
                        img(src="img/instagram.png", alt="Instagram") 
                        label Siguenos en Instagram
                    .row
                        img(src="img/google-plus.png", alt="GooglePlus") 
                        label Siguenos en Google Plus
                    .row
                        img(src="img/pinterest.png", alt="Pinterest") 
                        label Siguenos en Pinterest
                                        
                .colum3
                    h2 Contáctenos
                        .row2   
                            span.fas.fa-map-marker-alt 
                            label Direccion : AVENIDA CIRCUNVALACION 539, San Roman, Juliaca. 051 Juliaca                            
                        .row2   
                            span.fas.fa-phone 
                            label Telefono : (051) 324754
                        .row2   
                            span.fas.fa-mobile-alt 
                            label Celular : 987654321
                        .row2   
                            span.fas.fa-envelope 
                            label Email : colegiokalbertmatter@gmail.com
                        
    .container-footer
        .copyright
            p.datos__item #{descrip} #{año_lugar} | By: Miguel Pantigoso
            
        .information
            a(href="#") Informacion Colegio |
            a(href="#") Privacion y Politica |
            a(href="#") Terminos y condiciones
                                                
        




            